body * {
    box-sizing: border-box;
    font-family: sans-serif;
}

button, input, select {
    display: block;
    height: 2.5rem;
    padding: 7px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 7px;
}

button {
    background-color: bisque;
    font-weight: bold;
}

.taskName {
    display: inline;
    width: 400px;
    font-weight: bold;
    color: brown;
    margin: 10px;
}

.taskStatus {
    display: inline;
    font-size: small;
    margin: 50px;
}

.taskButtons {
    display: inline;
    height: 2rem;
    font-size: 0.5rem;
}